#leafletMap {
    height: 100%;
}

.leaflet-control-container .leaflet-control-geocoder-form input {
    color: black !important;
}

.leaflet-control-container .leaflet-control-geocoder-button {
    color: black !important;
}

.control-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 5%;
    bottom: 5%;
    z-index: 1000;
}