#leafletMap {
    height: 100%;
}

.leaflet-control-container .leaflet-control-geocoder-form input {
    color: black !important;
}

.leaflet-control-container .leaflet-control-geocoder-button {
    color: black !important;
}