<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-explore-container name="Navigate"></app-explore-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Navigate</ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@3.0.0/dist/leaflet-control-geocoder.css" />
  <script src="https://unpkg.com/leaflet-control-geocoder@3.0.0/dist/Control.Geocoder.js"></script>
  <div id="leafletMap"></div>
  <div class="control-buttons">
    <ion-button shape="round" id="trashButton" class="remove-button" color="secondary" (click)="removeMarkers()" size="large">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    <ion-button shape="round" id="startPauseButton" class="start-pause-button" (click)="start()" size="large">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
    <ion-button shape="round" class="emergency-button" color="danger" (click)="emergencyStop()" size="large">
      <ion-icon slot="icon-only" name="stop"></ion-icon>
    </ion-button>
  </div>
</ion-content>
