#leafletMap {
    height: 100%;
}

.leaflet-control-container .leaflet-control-geocoder-form input {
    color: black !important;
}

.leaflet-control-container .leaflet-control-geocoder-button {
    color: black !important;
}

.leaflet-dark-mode {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.control-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 10px;
    bottom: 20px;
    z-index: 1000;
}

@keyframes pulsate {
    0% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }