<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-explore-container name="Control"></app-explore-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Control</ion-title>
    </ion-toolbar>
  </ion-header>
  <ngx-joystick [options]="staticOptions" (move)="onMove($event)" (end)="onEnd()"></ngx-joystick>
  <ion-button class="emergency-button" expand="full" color="danger" (click)="emergencyStop()">Emergency Stop</ion-button>
</ion-content>
