<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="connect" href="/tabs/connect">
      <ion-icon aria-hidden="true" name="wifi-outline"></ion-icon>
      <ion-label>Connect</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="control" href="/tabs/control">
      <ion-icon aria-hidden="true" name="game-controller-outline"></ion-icon>
      <ion-label>Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="navigate" href="/tabs/navigate">
      <ion-icon aria-hidden="true" name="navigate-circle-outline"></ion-icon>
      <ion-label>Navigate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
